.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}
.side-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color: black;
  }
  .tFlag { font-size: 25px; color:red; -webkit-text-stroke-width: 2px; }
  .fFlag { font-size: 25px; color:red; -webkit-text-stroke-width: 2px; }
  .incorrect { color:red; font-size: 15px; -webkit-text-stroke-width: 2px; }
  .correct { color:green; font-size: 20px; -webkit-text-stroke-width: 2px; }
  .exp-incorrect { color:red; font-size: 20px; }
  .exp-correct { color:green; font-size: 20px; }
  .q-img { margin-top: 16px; margin-bottom: 16px}
  .sn-tog{
    position: absolute;
    top:0;
    left:0;
    font-size: 40px; 
    -webkit-text-stroke-width: 2px;
  }
  .hide-btn{
    background:none;
    border:none
  }
  .side-nav-table{
    width: 120px;
    scrollbar-width: none;
}
  table td{
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 7px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  table tr:first-child td {
    border-top: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  mat-nav-list mat-list-item{
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 7px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .side-nav-items{
    background:rgb(200,200,200);
  }